<section id="acerca" class="about">
  <h3>Acerca del evento</h3>
  <p>Las <strong>FOSS4G</strong> son conferencias de <strong>Geomática Libre</strong> que se dan todos los años en distintas partes del mundo. Existe una conferencia global organizada por <strong><a target="_blank" href='http://www.osgeo.org' title='Open Source Geospatial Foundation'>OSGeo</a></strong> que en 2017 tendrá lugar en Boston, Estados Unidos. Además de la global, existen otras conferencias locales en: Norte América, Europa, España, Japón, India y otros.</p>
  <p><strong>State of the Map</strong> (SotM) es una conferencia anual que se realiza de manera internacional, regional y nacional. Es un lugar de encuentro entre las personas que colaboran en la comunidad de <a target="_blank" href='http://www.osm.org' title='OpenStreetMap'>OpenStreetMap</a>, donde se presentan proyectos, propuestas, discusiones que enriquecen tanto al mapa como a sus colaboradores/as.</p>
  <p>Esta conferencia pretende reunir a los miembros de la comunidad de geomáticos argentinos y del resto de los países latinoamericanos. Así como en las conferencias globales, esperamos tener una mezcla de talleres prácticos, presentaciones de proyectos y exposiciones de casos de uso de herramientas libres aplicadas a la geomática. Además, es un evento que promueve la interacción entre los usuarios de distintas comunidades y organizaciones.</p>
  <h5>En los días en que transcurra la conferencia buscaremos:</h5>
  <p>
  <ul>
      <li>⊙ <strong>Compartir</strong> experiencias, proyectos e ideas en torno a la geomática libre</li>
      <li>⊙ <strong>Consolidar</strong> la comunidad para trabajar apostando a la transparencia, la colaboración y el conocimiento compartido</li>
    </ul>
  </p>
  <h5>La conferencia está dirigida a:</h5>
  <p>
    <ul>
      <li>⊙ Decisores de distintos organismos de gobierno</li>
      <li>⊙ Empleados estatales relacionados con el SIG</li>
      <li>⊙ Miembros de <a target="_blank" href='http://www.idera.gob.ar' title='Infraestructura de Datos Espaciales de la República Argentina'>IDERA</a></li>
      <li>⊙ Universidades: profesores y alumnos</li>
      <li>⊙ Público general</li>
    </ul>
  </p>
  <p>Seguinos en <a target="_blank" href="https://twitter.com/foss4gAR">Twitter</a> para enterarte de las novedades o escribinos a <a target="_blank" href='mailto:info@foss4g-ar.org'>info@foss4g-ar.org</a> por cualquier duda o comentario que tengas.</p>
  <h5>Organizado por</h5>
  <div class="organizers">
    <a target="_blank" href="https://wiki.osgeo.org/wiki/Category:Geoinquietos_Argentina">
      <img src="{{geoinquietosLogo}}" class="geoinquietos" />
    </a>
    <a target="_blank" href="http://wiki.openstreetmap.org/wiki/WikiProject_Argentina">
      <img src="{{osmArLogo}}" class="osm-ar" />
    </a>
    <a target="_blank" href="http://www.ign.gob.ar">
      <img src="{{ignLogo}}" class="ign" />
    </a>
  </div>
  <h5>Con el apoyo de</h5>
  <div class="supporters">
    <a target="_blank" href="http://osgeo.org">
      <img src="{{osgeoLogo}}" class="osgeo" />
    </a>
    <a target="_blank" href="http://www.centroargentinodecartografia.org">
      <img src="{{cacLogo}}" class="cac" />
    </a>
    <a target="_blank" href="http://www.idera.gob.ar/">
      <img src="{{ideraLogo}}"/>
    </a>
    <a target="_blank" href="http://www.conae.gov.ar">
      <img src="{{conaeLogo}}"/>
    </a>
    <a target="_blank" href="http://www.wikimedia.org.ar/">
      <img src="{{wikimediaArLogo}}"/>
    </a>
  </div>
</section>
