<section class="banner">
  <h1>FOSS4G＋SOTM<br />Argentina 2017</h1>
  <h2>Conferencia de Geomática Libre</h2>
  <h3>23 al 28 de octubre</h3>
  <p>
    <a href="https://www.papercall.io/foss4g-sotm" target="_blank" class="button button-accent">Hablá en la conferencia</a>
    <a href="http://geoinquietosar.eventbrite.com/" target="_blank" class="button button-info">Inscribite ahora</a>
    <span class="ribbon">-20%</span>
  </p>
  <div class="organizers">
    <img src="{{geoinquietosLogo}}" class="geoinquietos" />
    <img src="{{osmArLogo}}" class="osm-ar" />
    <img src="{{ignLogo}}" class="ign" />
    <img src="{{osgeoLogo}}" class="osgeo" />
    <img src="{{cacLogo}}" class="cac" />
  </div>
</section>
