<section id="oradores" class="speakers">
  <h3>Charlas plenarias</h3>
  <div class="keynotes">
    <div class="speaker">
      <img src="{{avatarMaria}}" alt="maria" class="img-circle" />
      <p class="speaker-name">Maria Brovelli</p>
      <p class="speaker-org">OSGeo</p>
    </div>
    <div class="speaker">
      <img src="{{avatarVictor}}" alt="victor" class="img-circle" />
      <p class="speaker-name">Victor Olaya</p>
      <p class="speaker-org">BoundlessGeo</p>
    </div>
    <div class="speaker">
      <img src="{{avatarJorge}}" alt="jorge" class="img-circle" />
      <p class="speaker-name">Jorge Sanz</p>
      <p class="speaker-org">CARTO</p>
    </div>
    <!-- <div class="speaker">
      <img src="{{avatarJeff}}" alt="jeff" class="img-circle" />
      <p class="speaker-name">Jeff McKenna</p>
      <p class="speaker-org">OSGeo</p>
    </div> -->
    <div class="speaker">
      <img src="{{avatarDelawen}}" alt="delawen" class="img-circle" />
      <p class="speaker-name">María Arias de Reyna</p>
      <p class="speaker-org">GeoCAT</p>
    </div>
  </div>
  <h3 id="agenda">Agenda preliminar</h3>
  {{#each programme}}
    <h4>{{title}}</h4>
    {{#if description}}
      <p>{{{description}}}</p>
    {{/if}}
    {{#if link}}
      <a href="{{link}}" target="_blank" class="button button-soft">Inscribite</a>
    {{/if}}
    <div class="agenda">
      <table>
        <tr>
          <th></th>
          {{#each rooms}}
            <th>{{this}}</th>
          {{/each}}
        </tr>
        {{#each schedule}}
          <tr>
            <th class="schedule">{{this}}</th>
            {{#with (lookup ../tracks @index) as |track|}}
              {{#each track.talks}}
                <td {{#if type}}colspan="{{../../../rooms.length}}"{{/if}}
                  class="talk {{#if free}}free{{/if}} {{type}}"
                  style="width: {{columnWidth ../../../rooms.length}};">
                  <p class="title" title="{{title}}">
                    {{#if link}}
                      <a href="{{link}}" target="_blank" class="button button-info">{{ellipsis title}}{{#if free}} (✭){{/if}}</a>
                    {{else}}
                      {{ellipsis title}}
                    {{/if}}
                  </p>
                  <p class="speaker">{{speaker}}</p>
                </td>
              {{/each}}
            {{/with}}
          </tr>
        {{/each}}
      </table>
      {{#if footnote}}
        <p>{{{footnote}}}</p>
      {{/if}}
    </div>
  {{/each}}
</section>
