<section id="oradores" class="speakers">
  <h3>Charlas plenarias</h3>
  <div class="keynotes">
    <div class="speaker">
      <img src="{{avatarMaria}}" alt="maria" class="img-circle" />
      <p class="speaker-name">Maria Brovelli</p>
      <p class="speaker-org">OSGeo</p>
    </div>
    <div class="speaker">
      <img src="{{avatarVictor}}" alt="victor" class="img-circle" />
      <p class="speaker-name">Victor Olaya</p>
      <p class="speaker-org">BoundlessGeo</p>
    </div>
    <div class="speaker">
      <img src="{{avatarJorge}}" alt="jorge" class="img-circle" />
      <p class="speaker-name">Jorge Sanz</p>
      <p class="speaker-org">CARTO</p>
    </div>
    <div class="speaker">
      <img src="{{avatarJeff}}" alt="jeff" class="img-circle" />
      <p class="speaker-name">Jeff McKenna</p>
      <p class="speaker-org">OSGeo</p>
    </div>
    <div class="speaker">
      <img src="{{avatarDelawen}}" alt="delawen" class="img-circle" />
      <p class="speaker-name">María Arias de Reyna</p>
      <p class="speaker-org">GeoCAT</p>
    </div>
  </div>
  <h3>Presentaciones confirmadas</h3>
  <div class="talks">
    {{#each talks}}
      <div class="talk">
        <h5>{{title}}</h5>
        <p>{{name}}</p>
      </div>
    {{/each}}
  </div>
</section>
