<section id="patrocinadores" class="sponsors">
  <h3>Patrocinadores</h3>
  <div class="silver">
    <a target="_blank" href="https://carto.com/"><img src="{{logoCarto}}" alt="carto" /></a>
    <a target="_blank" href="https://boundlessgeo.com/"><img src="{{logoBoundless}}" alt="boundless" /></a>
    <a target="_blank" href="https://www.geocat.net/"><img src="{{logoGeoCAT}}" alt="geocat" /></a>
    <a target="_blank" href="https://www.mapbox.com/"><img src="{{logoMapbox}}" alt="mapbox" /></a>
  </div>
  <div class="bronze">
    <a target="_blank" href="http://www.cambalachecoopera.com.ar/"><img src="{{logoCambalache}}" alt="cambalache" /></a>
    <a target="_blank" href="http://www.unp.edu.ar/"><img src="{{logoUNP}}" alt="unp" /></a>
    <a target="_blank" href="http://ww1.aerolineas.com.ar/arg/main.asp?idSitio=AR&idPagina=161&idIdioma=es&congresoID=5674"><img src="{{logoAerolineas}}" alt="aerolineas" /></a>
    <a target="_blank" href="http://www.kaartgroup.com/"><img src="{{logoKaart}}" alt="kaart" /></a>
  </div>

  <p>El evento ofrece a los patrocinadores oportunidades únicas para:</p>
  <p>
    <ul>
      <li>⊙ Establecer nuevas relaciones con el movimiento de Software de Código Libre y Abierto</li>
      <li>⊙ Generar nuevas ideas de producto</li>
      <li>⊙ Relacionarse con la comunidad</li>
      <li>⊙ Aumentar el reconocimiento de marca y el alcance del mercado</li>
      <li>⊙ Aprender acerca de tecnologías innovadoras</li>
    </ul>
  </p>
  <p>
    <a href="https://drive.google.com/open?id=0B7dhbq4Pcf9pX05nWTdfZ1MxVWM" target="_blank" class="button button-info">Más información</a>
  </p>
</section>
